:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  #main {
    padding: 1rem;
  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.info {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* #my_dataviz>svg {
  overflow: visible;
} */

.info {
  align-self: center;
}

/*Start navbar*/
nav ul {
  list-style-type: none;
  margin: 0 auto 0 auto;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: stretch;
  /* height: 2em; */
  /* gap: 1em; */
}

nav ul li:first-of-type {
  margin-right: auto;
}
nav ul li:first-of-type h2, nav ul li:last-of-type h2 {
  margin: 0.3em 0 0.3em 0;
}
nav ul li:last-of-type {
  margin-left: auto;
  visibility: hidden;
}
.tablink {
  cursor: pointer;
  /* align-self: center; */
  /* height: 100%; */
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  /* justify-content: center; */
  align-items: center;
}
.tablink:hover {
  background-color: #ddd;
}
.tablink.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/* Start new stuff*/
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"); */

:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
  --tab-width: 160px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/* nav {
  font-family: "Inter", sans-serif;
  background-color: rgba(230, 238, 249, 0.5);
} */

.tabs {
  display: flex;
  flex-direction: row;
  position: relative;
  /* background-color: #fff; */
  /* box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15); */
  /* padding: 0.75rem; */
  /* border-radius: 99px; */
}

.tabs * {
  z-index: 2;
}

input[type=radio] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--tab-width);
  /* font-size: 1.25rem; */
  /* font-weight: 500; */
  /* border-radius: 99px; */
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

input[type=radio]:checked+label {
  color: var(--primary-color);
}

input[type=radio]:checked+label>.notification {
  background-color: var(--primary-color);
  color: #fff;
}

input[id=radio-1]:checked~.glider {
  transform: translateX(0);
}

input[id=radio-2]:checked~.glider {
  transform: translateX(100%);
}

input[id=radio-3]:checked~.glider {
  transform: translateX(200%);
}
input[id=radio-4]:checked~.glider {
  transform: translateX(300%);
}

.glider {
  position: absolute;
  display: flex;
  height: 100%;
  width: var(--tab-width);
  background-color: var(--secondary-color);
  z-index: 1;
  /* border-radius: 99px; */
  transition: 0.2s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}